<!-- About Section -->
<section id="about" class="about">

    <div class="content-wrapper">

        <div class="row">

          <h3>{{ site.aboutTitle }}</h3>
<!--
          <div class="about-video">

            <iframe
              src="https://www.youtube.com/embed/BaClh_LBli4"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen>
            </iframe>

          </div>
-->
          <div class="about-cols">

            <div class="col-lg-4 col-lg-offset-1 about-text about-col">
                <p><b>The event will take place on Sparkle! Every registered participants will receive the credentials
                    via email, if you did not get the email please <a href="mailto:ohbmopenscience@gmail.com">get in touch!</a></b><br><br>
                    <b>What is OHBM?</b> OHBM is the Organization for Human Brain Mapping. A Society of scientists
                    dedicated to mapping the brain using all neuroimaging technologies.<br>
                    <b>What is Brainhack?</b> An event where people get together to learn about open science and to
                    collaborate on projects they’re interested in - it can be on anything!<br><br>
                    The OHBM Brainhack is a chance for anyone interested in brains to work collaboratively on common
                    projects (during the hacktrack) and learn about new ideas and tools in open science
                    (during the traintrack).<br><br>

                    Brainhacks are not the typical academic conference. Here, attendees can actively
                    take part in the program and learn from each other - sounds something you would like? You can
                    become a part of the event as a volunteer filling
                    <a href="https://forms.office.com/pages/responsepage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAAMAAC9pqdJUMEJGRUszWlk3N1JBTDAwRkdCNDZYTzBOTS4u"
                        target="_blank">this form</a>. Many Brainhack
                    projects might involve coding, but it is not a requirement and you can contribute in most cases
                    even without coding skills.<br><br>

                    We look for <i>neuroimagers</i> of all modalities from all over the world at different career stages,
                    and coming from all racial and gender backgrounds who are interested in working together with others
                    to build an open science community. If you're new to the Brainhack community, please join us! If you
                    belong to any minority groups we want to reiterate that we want you here and are excited to have you join us!
                </p>
            </div>

            <div class="col-lg-3 about-col">
              {% for button in site.aboutButtons %}
                <a  class="btn btn-primary btn-about"
                    href=" {% if button.permalink != null %}
                            {{ button.permalink | prepend: site.baseurl }}
                          {% else %}
                            {{ button.link }}
                          {% endif %}"
                    {% if button.link != null %}
                      target="_blank"
                    {% endif %}>
                    {{ button.text }}</a>
              {% endfor %}
            </div>

            <div class="col-lg-3 about-col">
              <figure>

                <img  src="/hackathon2021/img/brainhack_venn_diagram.png"
                      alt="brainhack venn diagram"><br>

                <figcaption>
                  <b>Brainhack as a venn diagram, from
                    <a href="https://gigascience.biomedcentral.com/articles/10.1186/s13742-016-0121-x">
                      Craddock et al (2016)</a></b>
                </figcaption>

              </figure>
            </div>

          </div>

        </div>


        <div class="row about-details">

            <div class="col-lg-12">

            {% assign animationDelay = 0 %}
            {% for about in site.aboutBlock %}
            <!-- {% assign colWidth = 12 | divided_by: forloop.length %} -->
            {% assign colWidth = 12 | divided_by: 4 %}
            <div class="col-md-{{ colWidth }} col-xs-6">
                <div class="animated hiding"
                      data-animation="fadeInDown"
                      data-delay="{{ animationDelay }}">
                    <h5>{{ about.title }}</h5>
                    <img  class="img-circle"
                          src="{{ site.baseurl }}/img/about-section/{{ about.image }}"
                          alt="{{ about.title }}">
                    <p>{{ about.text }}</p>
                </div>
            </div>
            {% assign animationDelay = animationDelay | plus:500 %}
            {% assign check = forloop.index | modulo:2 %}
            {% if check == 0 %} <div class="clearfix visible-xs"></div> {% endif %}
            {% endfor %}

            </div>

        </div>



    </div>

</section>
<!-- End About Section -->
